@model TipoProdutoViewModel

<form asp-controller="Produto" asp-action="Atualizar" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-6">Editar tipo de produto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <input type="hidden" asp-for="Id" />
                <div class="col">
                    <label asp-for="Nome" class="form-label"></label>
                    <input asp-for="Nome" class="form-control" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>
    </div>
</form>  